asgiref==3.3.1
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
cryptography==3.3.1
defusedxml==0.7.0rc2
Django==3.1.4
django-admin==2.0.1
django-appconf==1.0.4
django-excel-base==1.0.4
django-excel-response2==3.0.2
django-select2==7.5.0
django-six==1.0.4
django-social-auth==0.7.28
djangorestframework==3.12.2
httplib2==0.18.1
idna==2.10
mysqlclient==2.0.3
oauth2==1.9.0.post1
oauthlib==3.1.0
plotly==4.14.1
pycparser==2.20
PyJWT==2.0.0
