{% extends "karting_track_system/base.html" %}
{% block content %}
<main role="main" class="container">
    <div class="form-group row"></div>
    <div class="col-md-12">
        <div class="card h-100">
            <div class="card-body">
                <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2"
                        style="display: inline-block;">drive_eta</i>Today's
                    races</h6>
                <form method="POST" id="new_race" action="{% url 'new_race' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-dark">Add new race</button>
                </form>
                <div class="card-body listWrapper1">
                    <ul>
                        <form method="POST" id="track" action="{% url 'change_track' %}">
                            {% csrf_token %}
                            <h6>Select track:</h6>
                            <select id='new_track' name='new_track' class="form-control" placeholder="Select track">
                                {% for track in tracks %}
                                {% if track.id is current_track %}
                                <option value={{track.id}} selected>{{track.shape}}</option>
                                {% else %}
                                <option value={{track.id}}>{{track.shape}}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </form>

                        {% for race in races %}
                        <form method="POST" action="{% url 'control_races' %}">
                            {% csrf_token %}
                            {% if not race.finished %}
                            <li>&nbsp;&nbsp;<input value="Race: {{race.number}}, Date: {{race.date}}"
                                    class="btn btn-outline-dark some_btn" disabled
                                    style="margin-bottom: 3px; width: 235px !important" />

                                {% else %}

                            <li>&nbsp;&nbsp;<input name="btn3" id="btm3" type="submit"
                                    value="Race: {{race.number}}, Date: {{race.date}}"
                                    class="btn btn-outline-dark some_btn"
                                    style="margin-bottom: 3px; width: 235px !important" formtarget="_blank" />
                                {% endif %}

                                {% if ongoing_race_id == -1 and not race.finished %}

                                <input id="btn_start" name="btn_start" type="submit" value="Start"
                                    class="btn btn-outline-dark some_btn"
                                    style="margin-bottom: 3px; width: 235px !important" />

                                {% elif ongoing_race_id != -1 and race.id == ongoing_race_id %}

                                <input id="btn_stop" name="btn_stop" type="submit" value="End"
                                    class="btn btn-outline-dark some_btn"
                                    style="margin-bottom: 3px; width: 235px !important" />

                                {% endif %}

                                {% if ongoing_race_id != race.id and not race.finished %}

                                <input id="btn4" name="btn4" type="submit" value="Edit race"
                                    class="btn btn-outline-dark some_btn"
                                    style="margin-bottom: 3px; width: 235px !important" />

                                {% endif %}

                                <input type="hidden" name="races" value="{{ race.id }}" />
                            </li>

                        </form>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>
<script type="text/javascript">
    $(document).ready(function () {
        $("#track").submit(function () { // On form submit event
            $.ajax({ // create an AJAX call...
                data: $(this).serialize(), // get the form data
                type: $(this).attr('method'), // GET or POST
                url: $(this).attr('action'), // the file to call
                success: function (response) { // on success..
                    // $('#success_div').html(response); // update the DIV
                },
                error: function (e, x, r) { // on error..
                    // $('#error_div').html(e); // update the DIV
                }
            });
            return false;
        });
        $('#new_track').on("change", function (e) {
            $("#track").submit();
        });
    });
</script>
{% endblock content %}