{% extends "karting_track_system/base.html" %}


{% block content %}
<main role="main" class="container">
    <div class="form-group row"></div>
        <div class="col-md-8">


                <form id="form1" method="POST" action="{% url 'records' %}">
                    {% csrf_token %}
                    <div class="form-group row">  
                        <div class="col-sm-10">
                            <select id="tracks"  name="tracks" class="custom-select" style="width: 500px;" multiple>
                                {% for track in tracks %}
                                    <option value={{track.id}}>{{track.shape}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-10">
                            <select id="kart_models"  name="kart_models" style="width: 500px;" multiple>
                                {% for model in models %}
                                    <option value={{model.id}}>{{model.model}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-10">
                            <select id="sexes"  name="sexes" style="width: 500px;" multiple>
                                {% for sex in sexes %}
                                    <option value={{sex}}>{{sex}}</option>
                                {% endfor %}
                            </select>
                        </div>  
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-10">
                            <select id="seats"  name="seats" style="width: 500px;" multiple>
                                {% for seat in seats %}
                                    <option value={{seat}}>{{seat}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-10">
                            <input id="button" type="submit" value="Generate records" class="btn btn-dark"/>
                        </div>
                    </div>
                </form>
            <div class="table-responsive">
                <table id="table" class="table table-hover table-curved" style="color:rgba(0, 162, 255, 0.692);" >
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Time</th>
                        <th scope="col">Model</th>
                        <th scope="col">Shape</th>
                        <th scope="col">Sex</th>
                        <th scope="col">No. of seats</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for time in times %}
                            <tr>
                                <th scope="row">1</th>
                                <td>{{time.time}}</td>
                                <td>{{time.model}}</td>
                                <td>{{time.shape}}</td>
                                <td>{{time.sex}}</td>
                                <td>{{time.number_of_seats}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            
            </div>
            </div>
        </div>
    </main>

<script>
    $(document).ready(function()
      {
        $("#tracks").select2({
          placeholder: 'Select track ...'
        });

        $("#kart_models").select2({
          placeholder: 'Select kart model ...'
        });

        $("#sexes").select2({
          placeholder: 'Select sex ...'
        });

        $("#seats").select2({
          placeholder: 'Select number of seats ...'
        });
    });

    $(document).ready(function() {
        $('#table').DataTable();
    });
</script>
{% endblock content %}