{% extends "karting_track_system/base.html" %}

{% block content %}

<main role="main" class="container">
    <div class="form-group row"></div>
        <div class="col-md-8">
            <form method="POST" action="{% url 'statistics' %}">
                {% csrf_token %}
                <div class="form-group row">
                    <div class="col-sm-4">
                        <div class="input-group date" id="datetimepicker1" data-target-input="nearest" >
                            <input name="date" type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1"/>
                            <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar" ></i></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <input id="button" type="submit" name="btn1" value="Choose date of race" style="width: 170px;" class="btn btn-dark"/>
                    </div>
                </div>
                
            </form>

            {% if request.POST.date or request.POST.races %}

                <form id="form2" method="POST" action="{% url 'statistics' %}">
                    {% csrf_token %}
                    <div class="form-group row">  
                        <div class="col-sm-4">
                            <select id="races"  name="races" class="form-control" >
                                {% for race in races %}
                                    <option value={{race.id}}>{{race.number}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <input id="button" name="btn2" type="submit" value="Choose race number"class="btn btn-dark"/>
                        </div>

                </form>

            </div>
            <div class="table-responsive" style=" width: 1200px; ">
                <table id="table1" class="table table-hover table-curved" style="color:rgba(0, 162, 255, 0.692);"  style="overflow-x: hidden;">
                    <tbody>
                        {% for x in full %}
                            <tr>
                                {% for i in x %}
                                    <td >{{i}}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
                
                    {{ plots|safe }}
                

            {% endif %}  

        </div>
    </div>
</main>
<script>
    // $(document).ready(function()
    //     {
    //     $("#races").select2({
    //             placeholder: 'Select race number ...'
    //             });
    //         });

    // $('#form2').on('submit', function(){
    //     var minimum = 1;

    //     if($("#races").select2('data').length == minimum){
    //         return true;
    //     }else {
    //         alert('Please choose only ' + minimum + ' race')
    //         return false;
    //     }
            
    // })


    $(function () {
            $("#datetimepicker1").datetimepicker({
            format: 'YYYY-MM-DD',
            });
            $( "#datetimepicker1" ).datetimepicker({showAnim: 'slideDown'} );
        });
    
    $(document).ready(function() {
        $('#table1').DataTable();
    });
    // $("#table1").each(function() {
    //             var $this = $(this);
    //             var newrows = [];
    //             $this.find("tr").each(function(){
    //                 var i = 0;
    //                 $(this).find("td").each(function(){
    //                     i++;
    //                     if(newrows[i] === undefined) { newrows[i] = $("<tr></tr>"); }
    //                     newrows[i].append($(this));
    //                 });
    //             });
    //             $this.find("tr").remove();
    //             $.each(newrows, function(){
    //                 $this.append(this);
    //             });
    //         });
            
</script>
{% endblock content %}