{% extends "karting_track_system/base.html" %} 
{% block content %} 

<div class="container">
    <div class="main-body">
    
          <!-- Breadcrumb -->
          <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">User Profile</li>
            </ol>
          </nav>
          <!-- /Breadcrumb -->
    
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card" >
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    {% for ass in backends.associated %}
                      {% if ass.provider == 'facebook' %}
                        <img src="{{ass.extra_data.picture.data.url}}" alt="User" class="rounded-circle" width="150">
                      {% endif %}
                    {% endfor %}
                    <div class="mt-3">
                      <h4>{{ user.username }}</h4>
                    </div>
                      <form method="POST" action="{% url 'password_change' %}">
                        {% csrf_token %}
                        <div class="mt-3">
                          <input type="submit" value="Change password" style="width: 170px;" class="btn btn-dark"/>
                        </div>
                      </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Full Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ user.client.name }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ user.client.email }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Client Number</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ user.client.client_number }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Sex</h6>
                    </div>   
                    <div class="col-sm-9 text-secondary">
                      {{ user.client.sex }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Phone Number</h6>
                    </div> 
                    <div class="col-sm-9 text-secondary">
                      {{ user.client.phone_number }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row gutters-sm">
                <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">assignment</i>My reservations</h6>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <div class="card-body" >
                      <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">drive_eta</i>My races</h6>
                        <div class="card-body listWrapper" style="height:200px;">
                            <ul> 
                              {% for race in races %}
                                <form method="POST" action="{% url 'statistics' %}" target="_blank">
                                {% csrf_token %}
                                  
                                  <li>&nbsp;&nbsp;<input id="button" name="btn3" type="submit" value="Race: {{race.number}}, Date: {{race.date}}" class="btn btn-outline-dark" style="margin-bottom: 3px; width: 235px !important"/>
                                  <input type="hidden" name="races" value="{{ race.id }}" /></li>
                                
                                </form>
                              {% endfor %}
                            </ul>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
{% endblock content %}
