{% extends "karting_track_system/base.html" %}

{% block content %}
<div class="container" style="margin-top:10px;">
  <div class="d-flex justify-content-center h-100 flex-direction-column">
    <div class="card">
      <div class="card-header">
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="text-center">
                    <h3><i class="fa fa-lock fa-4x"></i></h3>
                    <h2 class="text-center">Forgot Password?</h2>
                    <p>You can reset your password here.</p>
                    <div class="panel-body">
                      <form action="" method="post">
                      {% csrf_token %}
                      {% if form.email.errors %}
                        {{ form.email.errors }}
                      {% endif %}
                          <p>{{ form.email }}</p>
                        <div class="form-group">
                          <input type="submit" class="btn btn-dark" value="Reset password">
                        </div>
                        
                        <input type="hidden" class="hide" name="token" id="token" value="">
                      </form>
      
                    </div>
                  </div>
                </div>
              </div>
          
    </div>
  </div>
{% endblock %}


