{% extends "karting_track_system/base.html" %}

{% block content %}
    {% if validlink %}
    <div class="registration-form">
            <form action="" method="post">
                
                    {% csrf_token %}
                <div class="form-group">
                    <p style="text-align: center;">{{ form.new_password1.errors }}</p>
                    <input type="password" class="form-control item" id="new_password1" placeholder="New Password" name="new_password1">
                </div>
                 <div class="form-group">
                    <p style="text-align: center;">{{ form.new_password2.errors }}</p>
                    <input type="password" class="form-control item" id="new_password2" placeholder="Confirm New Password" name="new_password2">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-block create-account">Change my password</button>
                </div>
            </form>
        </div>
    {% else %}
    <div class="registration-form">
    
        <div class="social-media">
            <h3 style="text-align: center;">Password reset failed</h3>
            <h6 style="text-align: center;">The password reset link was invalid, possibly because it has already been used. <br> Please request a new password reset.</h6>
        </div>
    </div>
    {% endif %}
{% endblock %}